In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('yellow_tripdata_2021-01.csv ')

In [18]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [19]:
from sqlalchemy import create_engine

In [22]:
engine = create_engine('postgresql://root:admin@localhost:5432/ny_taxi')

In [23]:
engine.connect()

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [24]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=10000)

In [25]:
df = next(df_iter)

In [26]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [27]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [29]:
from time import time

df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=50000)
for df_chunk in df_iter:
    t_start = time()

    df_chunk.tpep_pickup_datetime = pd.to_datetime(df_chunk.tpep_pickup_datetime)
    df_chunk.tpep_dropoff_datetime = pd.to_datetime(df_chunk.tpep_dropoff_datetime)
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print(f"Imported chunk..., size: {len(df_chunk)}, took: {t_end - t_start:.2f} s")

Imported chunk..., size: 50000, took: 5.30 s
Imported chunk..., size: 50000, took: 5.32 s
Imported chunk..., size: 50000, took: 5.12 s
Imported chunk..., size: 50000, took: 4.81 s
Imported chunk..., size: 50000, took: 4.73 s
Imported chunk..., size: 50000, took: 4.98 s
Imported chunk..., size: 50000, took: 5.04 s
Imported chunk..., size: 50000, took: 4.94 s
Imported chunk..., size: 50000, took: 5.03 s
Imported chunk..., size: 50000, took: 4.90 s
Imported chunk..., size: 50000, took: 4.83 s
Imported chunk..., size: 50000, took: 5.06 s
Imported chunk..., size: 30918, took: 3.29 s

In [30]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [31]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [32]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace', method='multi')

265