In [1]:
import pandas as pd

In [9]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [10]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [17]:
df.to_csv('yellow_tripdata_2021-01.csv')

In [2]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

/home/paulooctavio/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [7]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=50000)

In [23]:
df = next(df_iter)

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [29]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
# Installing a newer version fixed the problem without the need to add the method='multi' parameter.
# pip install psycopg2-binary==2.8.6

df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', method='multi')

In [10]:
from time import time

for df_chunk in df_iter:
    t_start = time()
    
    df_chunk.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df_chunk.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', method='multi')
    
    t_end = time()
    print(f"Imported chunk..., size: {len(df_chunk)}, took: {t_end - t_start:.2f} s")

Imported chunk..., size: 50000, took: 43.37 s
Imported chunk..., size: 50000, took: 32.85 s
Imported chunk..., size: 50000, took: 33.01 s
Imported chunk..., size: 50000, took: 32.36 s
Imported chunk..., size: 50000, took: 34.50 s
Imported chunk..., size: 50000, took: 33.62 s
Imported chunk..., size: 50000, took: 36.84 s
Imported chunk..., size: 50000, took: 40.44 s
Imported chunk..., size: 50000, took: 35.96 s
Imported chunk..., size: 50000, took: 32.71 s
Imported chunk..., size: 50000, took: 34.43 s
Imported chunk..., size: 50000, took: 41.58 s
Imported chunk..., size: 50000, took: 35.57 s
Imported chunk..., size: 50000, took: 39.44 s
Imported chunk..., size: 50000, took: 43.27 s
Imported chunk..., size: 50000, took: 40.46 s
Imported chunk..., size: 50000, took: 37.96 s
Imported chunk..., size: 50000, took: 34.69 s
Imported chunk..., size: 50000, took: 31.77 s
Imported chunk..., size: 50000, took: 34.58 s
Imported chunk..., size: 50000, took: 37.20 s
Imported chunk..., size: 50000, took: 41.97 s
Imported chunk..., size: 50000, took: 86.88 s
Imported chunk..., size: 50000, took: 86.89 s
Imported chunk..., size: 50000, took: 51.53 s
Imported chunk..., size: 50000, took: 71.88 s
Imported chunk..., size: 50000, took: 78.94 s
Imported chunk..., size: 19769, took: 16.87 s

In [3]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace', method='multi')